/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply background color to the entire page */
html, body {
    background-color: #080412 !important; /* Dark background color */
    color: #ffffff; /* Default text color */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
  }
  
  #root {
    min-height: 100vh; /* Ensure the root element also spans the full viewport height */
    display: flex;
    flex-direction: column;
  }
  
/* Remove default body margin and padding */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent content from hiding behind the fixed header */
main {
  padding-top: 20px; /* Adjust this if your header height changes */
}
